////
/// Copyright (c) 2016-2018 Martin Donath <martin.donath@squidfunk.com>
///
/// Permission is hereby granted, free of charge, to any person obtaining a
/// copy of this software and associated documentation files (the "Software"),
/// to deal in the Software without restriction, including without limitation
/// the rights to use, copy, modify, merge, publish, distribute, sublicense,
/// and/or sell copies of the Software, and to permit persons to whom the
/// Software is furnished to do so, subject to the following conditions:
///
/// The above copyright notice and this permission notice shall be included in
/// all copies or substantial portions of the Software.
///
/// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
/// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
/// FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL
/// THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
/// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
/// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
/// DEALINGS
////

// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Application footer
.md-footer {

  // Hide for print
  @media print {
    display: none;
  }
}

// Navigation within footer
.md-footer-nav {
  background-color: $clr-concrete;
  color: $clr-bright-gray;

  // Set spacing
  &__inner {
    padding: 0.4rem;
    overflow: auto;
  }

  // Links to previous and next page
  &__link {
    padding-top: 2.8rem;
    padding-bottom: 0.8rem;
    transition: opacity 0.25s;

    // [tablet +]: Set proportional width
    @include break-from-device(tablet) {
      width: 50%;
    }

    // Hovered link
    &:hover {
      opacity: 0.7;
    }

    // Link to previous page
    &--prev {
      width: 25%;
      float: left;

      // Adjust for RTL languages
      [dir="rtl"] & {
        float: right;
      }

      // Title
      .md-footer-nav__title {

        // [mobile -]: Hide title for previous page
        @include break-to-device(mobile) {
          display: none;
        }
      }
    }

    // Link to next page
    &--next {
      width: 75%;
      float: right;
      text-align: right;

      // Adjust for RTL languages
      [dir="rtl"] & {
        float: left;
        text-align: left;
      }
    }
  }

  // Icon buttons
  &__button {
    @extend %md-icon__button;

    transition: background 0.25s;
  }

  // Link title - set line height to match icon for correct alignment
  &__title {
    position: relative;
    padding: 0 2rem;
    font-size: 1.8rem;
    line-height: 4.8rem;
  }

  // Link direction
  &__direction {
    position: absolute;
    right: 0;
    left: 0;
    margin-top: -2rem;
    padding: 0 2rem;
    color: $clr-bright-gray;
    opacity: 0.8;
    font-size: 1.5rem;
  }
}

// Non-navigational information
.md-footer-meta {
  //background-color: opacify(#E8E9EA, 0.025);
  background-color: #E8E9EA;
  // Set spacing
  &__inner {
    padding: 0.4rem;
    overflow: auto;
  }

  // Use a decent color for non-hovered links and ensure specificity
  html &.md-typeset a {
    //color: $md-color-white--light;
	color: #3f424f;
	font-weight: 600;
		
    // Focused or hovered link
    &:focus,
    &:hover {
      //color: $md-color-white;
      color: #3f424f;
      font-weight: 600;
    }
  }
}

// Copyright and theme information
.md-footer-copyright {
  margin: 0 1.2rem;
  padding: 0.8rem 0;
  //color: $md-color-white--lighter;
  color: #3f424f;
  font-size: ms(-1);

  // [tablet portrait +]: Show next to social media links
  @include break-from-device(tablet portrait) {
    max-width: 75%;
    float: left;

    // Adjust for RTL languages
    [dir="rtl"] & {
      float: right;
    }
  }

  // Highlight copyright information
  &__highlight {
    //color: $md-color-white--light;
	color: #3f424f
  }
}

// Social media links
.md-footer-social {
  margin: 0 0.8rem;
  padding: 0.4rem 0 1.2rem;

  // [tablet portrait +]: Show next to copyright information
  @include break-from-device(tablet portrait) {
    padding: 1.2rem 0;
    float: right;

    // Adjust for RTL languages
    [dir="rtl"] & {
      float: left;
    }
  }

  // Link with icon
  &__link {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    //font-size: 1.6rem;
	font-size: 20px;
    text-align: center;

    // Adjust line-height to match height for correct alignment
    &::before {
      line-height: 1.9;
    }
  }
}
