/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
 @import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
 /*@import url(../../lib/font/source-sans-pro/source-sans-pro.css);*/
 
 section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
   color: #fff; }
 
 /*********************************************
  * SLIDE TEMPLATE IDS
  *********************************************/
 #left {
   left:-8.33%;
   text-align: left;
   float: left;
   width:50%;
   z-index:-10;
 }
 
 #right {
   left:31.25%;
   top: 75px;
   float: right;
   text-align: right;
   z-index:-10;
   width:50%;
 }
 
 /*********************************************
  * GLOBAL STYLES
  *********************************************/
 body {
   font-family: Roboto, Helvetica, sans-serif;
   background: #fff;
   background-color: #fff; }
 
 hr {
   border-top: 0.5px solid #3784f4;
 }
 br {
   content: "";
   margin: 8em;
   display: block;
   font-size: 10%;
   }
 
 .reveal {
   font-family: Roboto, Helvetica, sans-serif;
   font-size: 30px /*42px*/;
   font-weight: normal;
   color: #3f424f; }
 
 ::selection {
   color: #fff;
   background: #98bdef;
   text-shadow: none; }
 
 ::-moz-selection {
   color: #fff;
   background: #98bdef;
   text-shadow: none; }
 br {
   content: "";
   margin: 8em;
   display: block;
   font-size: 10%;
 }
 
 .reveal .slides section,
 .reveal .slides section > section {
   padding: 42px 0 25px 0;
   line-height: 1.3;
   font-weight: inherit; }
 
 /*********************************************
  * HEADERS
  *********************************************/
 .reveal h1,
 .reveal h2,
 .reveal h3,
 .reveal h4,
 .reveal h5,
 .reveal h6 {
   margin: 0 0 20px 0;
   color: #3784f4;
   font-family: Roboto, Helvetica, sans-serif;
   font-weight: 600;
   line-height: 1.2;
   letter-spacing: normal;
   text-transform: none;
   text-shadow: none;
   word-wrap: break-word; }
 
 .reveal h1 {
   font-size: 46px; 
 
   } /*2.5em;*/ 
 
 .reveal h2 {
   font-size: 1.3em; 
   } /*1.6em;*/ 
 
 .reveal h3 {
   font-size: 24px; 
 
   } /*1.3em;*/ 
 
 .reveal h4 {
   font-size: 0.7em; } /*1em;*/ 
 
 .reveal h1 {
   text-shadow: none; }
 
 .reveal h1, h2, h3 {
   margin-top: 30px;
 }
 
 /*********************************************
  * OTHER
  *********************************************/
  .bodyblack {
   background: #3f424f;
   background-color: #3f424f; 
   font-family: "Source Sans Pro", Helvetica, sans-serif;
   font-size: 42px;
   font-weight: normal;
   color: #fff; }
 
  /* increase from 16px */
 .reveal p {
   margin: 20px 0;
   margin-top: 40px;
   font-size: 18px;
   line-height: 1.3; }
   .reveal p, h1, h2, h3, h4 {
     text-align: left;
   }

 /* Ensure certain elements are never larger than the slide itself */
 .reveal img,
 .reveal video,
 .reveal iframe {
   max-width: 95%;
   max-height: 95%; }
 
 .reveal strong,
 .reveal b {
   font-weight: bold; }
 
 .reveal em {
   font-style: italic; }
 
 /* increase from 16px */
 .reveal ol,
 .reveal dl,
 .reveal ul {
   display: block;
   margin: 0 0 0 2em /*1em*/;
   margin-top: 20px;
   font-size: 18px;
   text-align: left;
 }
 
  /* increase from 16px */
 .reveal ol {
   display: block;
   margin-top: 20px;
   font-size: 18px;
   list-style-type: decimal; }
 
 .reveal ul {
   list-style-type: disc; }
 
 .reveal ul ul {
   list-style-type: square; }
 
 .reveal ul ul ul {
   list-style-type: circle; }
 
 .reveal ul ul,
 .reveal ul ol,
 .reveal ol ol,
 .reveal ol ul {
   display: block;
   margin-left: 40px;
   margin-top: 10px; }
   .reveal li { margin-top: 30px; }
 .reveal dt {
   font-weight: bold; }
 
 .reveal dd {
   margin-left: 40px; }
 
 .reveal blockquote {
   display: block;
   position: relative;
   width: 70%;
   margin: 20px auto;
   padding: 5px;
   font-style: italic;
   background: rgba(255, 255, 255, 0.05);
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
 
 .reveal blockquote p:first-child,
 .reveal blockquote p:last-child {
   display: inline-block; }
 
 .reveal q {
   font-style: italic; }
 
 .reveal pre {
   display: block;
   position: relative;
   width: 90%;
   margin: 20px auto;
   text-align: left;
   font-size: 0.55em;
   font-family: monospace;
   line-height: 1.2em;
   word-wrap: break-word;
   box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }
 
 .reveal code {
   font-family: monospace;
   text-transform: none; }
 
 .reveal pre code {
   display: block;
   padding: 5px;
   overflow: auto;
   max-height: 400px;
   word-wrap: normal; }
 
 /*********************************************
  * TABLES
  *********************************************/
 
  /* increase from 13px */
  .reveal table {
   font-size: 16px;
   margin: auto;
   border-collapse: collapse;
   border-spacing: 0; }
 
 .reveal table th {
   padding: 6px 15px;
   background-color: #3784f4;
   color: white;
   font-size: 16px;
   line-height: 44px;
   height: 44px;
   font-weight: 400; }
   .reveal table th:first-of-type {
     border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
   }
   .reveal table th:last-of-type {
     border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
   }
   .reveal table td {
     padding: 15px;
   }
 .reveal table th,
 .reveal table td {
   text-align: left;
   /* padding: 0.2em 0.5em 0.2em 0.5em; */
   /* border-bottom: 1px solid;  */
 }
 
 .reveal table th[align="center"],
 .reveal table td[align="center"] {
   text-align: center; }
 
 .reveal table th[align="right"],
 .reveal table td[align="right"] {
   text-align: right; }
 
 .reveal table tbody tr:last-child th,
 .reveal table tbody tr:last-child td {
   border-bottom: none; }
 .reveal table td {
   border-top: .1rem solid rgba(0,0,0,.07)
 }
 .reveal table tbody tr:nth-child(2n) td {
   background-color: rgba(55,132,244,.08);
 }
 .reveal sup {
   vertical-align: super;
   font-size: smaller; }
 
 .reveal sub {
   vertical-align: sub;
   font-size: smaller; }
 
 .reveal small {
   display: inline-block;
   font-size: 0.6em;
   line-height: 1.2em;
   vertical-align: top; }
 
 .reveal small * {
   vertical-align: top; }
 
   p.grey {
     color: grey;
     margin-top: 15px !important;
   }
 /*********************************************
  * LINKS
  *********************************************/
 .reveal a {
   color: #2a76dd;
   text-decoration: none;
   -webkit-transition: color .15s ease;
   -moz-transition: color .15s ease;
   transition: color .15s ease; }
 
 .reveal a:hover {
   color: #6ca0e8;
   text-shadow: none;
   border: none; }
 
 .reveal .roll span:after {
   color: #fff;
   background: #1a53a1; }
 
 /*********************************************
  * IMAGES
  *********************************************/
 .reveal section img {
   margin: 15px 0px;
   background: rgba(255, 255, 255, 0.12);
   border: 4px solid #222;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
 
 .reveal section img.plain {
   border: 0;
   box-shadow: none; }
 
 .reveal a img {
   -webkit-transition: all .15s linear;
   -moz-transition: all .15s linear;
   transition: all .15s linear; }
 
 .reveal a:hover img {
   background: rgba(255, 255, 255, 0.2);
   border-color: #2a76dd;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

.reveal.reveal img
   {
   border: none;
   box-shadow: none;
   /*max-height: calc(66vh);*/
   max-width: 100%;
   /*margin-left: 20%;*/
 
 }
 
 .reveal .slide-background {
   border-top: 8px solid #3784f4;
 }
 .reveal .slide-background.dark {
   border-top: 8px solid #3f424f;
 }
 .reveal .dark h3,
 .reveal .dark h4,
 .reveal .dark h5,
 .reveal .dark h6 {
   color: #3f424f;
 }

 .reveal .slide-background.ewars {
   border-top: 8px solid #37b2f4;
 }
 .reveal .ewars h3,
 .reveal .ewars h4,
 .reveal .ewars h5,
 .reveal .ewars h6 {
   color: #37b2f4;
 }

 /*********************************************
  * NAVIGATION CONTROLS
  *********************************************/
 .reveal .controls {
   bottom: 73px;
   color: #2a76dd; }
 
 /*********************************************
  * PROGRESS BAR
  *********************************************/
 .reveal .progress {
   background: rgba(0, 0, 0, 0.2);
   color: #2a76dd; }
 
 .reveal .progress span {
   -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
   -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
   transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
 
 .reveal .slide-number {
   bottom: 72px;
 }
 
 /*********************************************
  * NOTES BOX
  *********************************************/

 /* increase from 13px */
 .reveal .note {
   font-size: 18px;
   box-sizing: border-box;
   padding: 0;
   list-style: none;
   margin: 0;
   margin-bottom: 15px;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
 }

  /* increase from 16px */
 .reveal .note ul {
   padding: 0;
   font-size: 18px;
   padding-bottom: 15px;
   margin-top: 0;
   margin-left: 15px;
 }
 .reveal .note ul li {
   margin-top: 15px;
 }
 .reveal .note ul li:first-child {
   margin-top: 0;
 }

  /* increase from 16px */
 .reveal .note > li {
   font-size: 18px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   padding: 0 15px;
   border-left: 5px solid #3784f4;
 }
 .reveal .note > li:first-child {
   position: relative;
   box-sizing: border-box;
   padding: 0 11px;
   height: 40px;
   line-height: 40px;
   font-weight: bold;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   background-color: rgba(55, 132, 244, 0.16);
 }
 .reveal .note > li:first-child:before {
   content: "\E3C9";
   color: #3784f4;
   font-size: 1.5em;
   line-height: 40px;
   font-family: Material Icons;
   display: inline-block;
   vertical-align: middle;
   padding-right: 11px;
   position: relative;
   top: -2px;
 }
 .reveal .note > li:nth-child(2) {
   box-sizing: border-box;
   padding-top: 15px;
 }
 .reveal .note > li:last-child {
   padding-bottom: 15px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
 }
 
 /*********************************************
  * SUCCESS BOX
 **********************************************/
 
  /* increase from 13px */
  .reveal .success {
   font-size: 18px;
   box-sizing: border-box;
   padding: 0;
   list-style: none;
   margin: 0;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
 }
 .reveal .success ul {
   padding: 0;
   font-size: 18px;
   padding-bottom: 15px;
   margin-top: 0;
   margin-left: 15px;
 }
 .reveal .success ul li {
   margin-top: 15px;
 }
 .reveal .success ul li:first-child {
   margin-top: 0;
 }
 .reveal .success > li {
   font-size: 18px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   padding: 0 15px;
   border-left: 5px solid #50c964;
 }
 .reveal .success > li:first-child {
   position: relative;
   box-sizing: border-box;
   padding: 0 11px;
   height: 40px;
   line-height: 40px;
   font-weight: bold;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   background-color: rgba(80, 201, 100, .16);
 }
 .reveal .success > li:first-child:before {
   content: "";
   color: #50c964;
   font-size: 1.5em;
   line-height: 40px;
   font-family: Material Icons;
   display: inline-block;
   vertical-align: middle;
   padding-right: 11px;
   position: relative;
   top: -2px;
 }
 .reveal .success > li:nth-child(2) {
   box-sizing: border-box;
   padding-top: 15px;
 }
 .reveal .success > li:last-child {
   padding-bottom: 15px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
 }
 
 /*********************************************
  * CASE STUDY BOX
 **********************************************/
 
  /* increase from 16px */
  .reveal .case-study {
   font-size: 18px;
   box-sizing: border-box;
   padding: 0;
   list-style: none;
   margin: 0;
   background-color: rgba(249, 91, 166, .08);
   padding: 24px;
   margin-bottom: 15px;
 }
 .reveal .case-study ul {
   padding: 0;
   font-size: 18px;
   padding-bottom: 15px;
   margin-top: 0;
   margin-left: 15px;
 }
 .reveal .case-study ul li {
   margin-top: 15px;
 }
 .reveal .case-study > li {
   font-size: 18px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   padding: 0;
 }
 .reveal .case-study > li:first-child {
   position: relative;
   box-sizing: border-box;
   padding: 0;
   font-weight: bold;
 }
 .reveal .case-study > li:nth-child(2) {
   box-sizing: border-box;
   padding-top: 0;
 }
 .reveal .case-study > li:last-child {
   padding-bottom: 0;
 }
 /*********************************************
  * MORE DETAILS BOX
 **********************************************/
 
  /* increase from 13px */
  .reveal .more-details {
   font-size: 18px;
   box-sizing: border-box;
   padding: 0;
   list-style: none;
   margin: 0;
   background-color: rgba(55, 132, 244, .08);
   padding: 24px;
   margin-bottom: 15px;
 }
 .reveal .more-details ul {
   padding: 0;
   font-size: 18px;
   padding-bottom: 15px;
   margin-top: 0;
   margin-left: 15px;
 }
 .reveal .more-details ul li {
   margin-top: 15px;
 }
 .reveal .more-details > li {
   font-size: 18px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   padding: 0;
 }
 .reveal .more-details > li:first-child {
   position: relative;
   box-sizing: border-box;
   padding: 0;
   font-weight: bold;
 }
 .reveal .more-details > li:nth-child(2) {
   box-sizing: border-box;
   padding-top: 0;
 }
 .reveal .more-details > li:last-child {
   padding-bottom: 0;
 }
 
 /*********************************************
  * DETAILS BOX
 **********************************************/
 
  /* increase from 16px */
  .reveal .reference {
   font-size: 18px;
   box-sizing: border-box;
   padding: 0;
   list-style: none;
   margin: 0;
   background-color: rgba(242, 242, 242, 0.7);
   padding: 24px;
   margin-bottom: 15px;
 }
 .reveal .reference ul {
   padding: 0;
   font-size: 18px;
   padding-bottom: 15px;
   margin-top: 0;
   margin-left: 15px;
 }
 .reveal .reference ul li {
   margin-top: 15px;
 }
 .reveal .reference > li {
   font-size: 18px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   padding: 0;
 }
 .reveal .reference > li:first-child {
   position: relative;
   box-sizing: border-box;
   padding: 0;
   font-weight: bold;
 }
 .reveal .reference > li:nth-child(2) {
   box-sizing: border-box;
   padding-top: 0;
 }
 .reveal .reference > li:last-child {
   padding-bottom: 0;
 }
 /*********************************************
  * PRINT BACKGROUND
  *********************************************/
 @media print {
   .backgrounds {
     background-color: #fff; } }
 
     